html,
body {
	margin: 0;
	padding: 0;
}

:root {
	--common-width: 50vw;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

section {
	position: fixed;
	width: 100%;
	background-color: brown;
	color: white;
	margin: 0 auto 20px auto;
}

main {
	background-color: white;
	z-index: 1;
	margin-top: 10rem;
	display: flex;
	overflow-x: unset;
	flex-grow: 1;
	scroll-snap-type: x mandatory;
}

.l-documents {
	background-color: white;
	z-index: 1;
	flex-shrink: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	scroll-snap-align: center;
}

.documents {
	width: var(--common-width);
}

button {
	position: sticky;
	top: 1rem;
}
